{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "avoid",
  "importOrder": [
    "^@(?!/)(.*$)",
    "^@/(?!(components|lib|utils|assets)/)(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
